@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>International Student Database</h3>

    <p>
        International Students Database is a powerful application and tool created by the university which
        allows for staff to dynamically monitor international students enrolled at the university.<br />

        Professional users have the abilty to view, create, update and delete entries to the table. This is a cloud based application, meaning that security is
        extensive, however most people often overlook more common user mistakes - e.g
        leaving your computer on and going away for a period, leaving it easily accessible to anyone around without permission. You can learn more about this on our home page, or alternatively enter the application.
    </p>
</main>