@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Where Can You Get Support?</h3>

    <address>
        One University Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        07798344123
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">isdbsupport@uni.co.uk</a><br />
        <strong>University:</strong> <a href="mailto:Marketing@example.com">university@uni.co.uk</a>
    </address>
</main>